<% if current_user %>
	<% if current_user.username=='admin' %>
		<h1>Maak een nieuwe gebruiker aan</h1>

		<%= render 'form' %>
	<% else%>
		<p>Voor deze pagina moet je administrator-machtiging hebben</p>
	<% end %>
<% else%>
		<p>Voor deze pagina moet je administrator-machtiging hebben</p>
<% end %>

<%= link_to 'Terug', users_path %>
